---
layout: inner
type: index
permalink:
description: >-
  Der Blog des Wiesbadener CoderDojos.
  Lies ihn. Lerne etwas. Lass dich inspirieren. 
---

<div id="404" class="gone post homesite">
  <h2>Wir haben dich weitergeleitet</h2>
  <p>
    Wir konnten die Seite, die du aufrufen wolltest, nicht finden.<br/>
    Daher haben wir dich auf die Startseite geleitet.<br/>
  <small>
    <a href="https://de.wikipedia.org/wiki/Toter_Link" class="alt">Fehler 404</a> • 
    <a href="https://github.com/koenidv/blog.coderdojo-wiesbaden.de/issues/new" class="alt">Fehler melden</a> • 
    <a href="/" class="alt">Meldung schließen</a>
  </small>
  </p>
</div>

<div class="posts">
  {% assign counter = 0 %}
  {% for post in paginator.posts %}
  {% if counter == 1 %}
    <div class="post homesite" data-aos="fade-up" data-aos-delay="50">
  {% else %}
    <div class="post homesite" data-aos="fade-up">
  {% endif %}
  
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-details">
      {% if post.author != null %}
        <a href="{{ baseurl }}autor/{{ post.author }}">{{ post.author }}</a>, {{ post.date | date: "%d.%m.%Y" }}
      {% else %}
        {{ post.date | date: "%d.%m.%Y" }}
      {% endif %}
    </span>

    <div class="post-preview">
      {{ post.content | split:"<!--break-->" | first }}
    </div>

    {% if post.image != nil %}
    <img src="{{ post.image }}" class="post-image"/>
  {% endif %}

    {% if post.content contains "<!--break-->" %}
    {% if post.content contains "<!--break--><!--n-->" %}
      <br/>
      <br/>
    {% endif %}
      <br/>
      <a href="{{ post.url }}">Weiterlesen...</a>
    {% else %}
      <br/>
      <a href="{{ post.url }}">Beitrag anzeigen &rarr;</a>
    {% endif %}
  </div>

  {% assign counter = counter | plus: 1 %}
  {% endfor %}
</div>

<div class="pagination" data-aos="fade-up">
  {% if paginator.next_page == falsy and paginator.previous_page == falsy %}
    <p>Das sind alle Beiträge.</p>
  {% elsif paginator.next_page != falsy and paginator.previous_page == falsy %}
    <a class="pagination-item older fullwidth" href="{{ site.baseurl }}page{{paginator.next_page}}">Ältere Beiträge anzeigen &rarr;</a>
  {% elsif paginator.next_page != falsy and paginator.previous_page != falsy %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">&larr; Neuer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">&larr; Neuer</a>
    {% endif %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Älter &rarr;</a>
  {% elsif paginator.next_page == falsy and paginator.previous_page != falsy %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">&larr; Neuer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">&larr; Neuer</a>
    {% endif %}
    <span class="pagination-item older">Älter &rarr;</span>
  {% else %}
  <!-- This state should never be reached but is here just in case -->
  <a class="pagination-item newer fullwidth" href="{{ site.baseurl }}">&larr; Zurück zum Start</a>
  {% endif %}
</div>

<script>
  if (window.location.href.includes("?404")) {
    document.getElementById("404").classList.remove("gone");
  }

  /*if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/serviceworker.js').then(function(registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function(err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  }*/
</script>