---
layout: default
title: Start
permalink: 
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post homesite">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-details">
      {% if post.author != null %}
        {{ post.author }}, {{ post.date | date: "%d.%m.%Y" }}
      {% else %}
        {{ post.date | date: "%d.%m.%Y" }}
      {% endif %}
    </span>

    {{ post.content | split:"<!--break-->" | first }}
    {% if post.content contains "<!--break-->" %}
    {% if post.content contains "<!--break--><!--n-->" %}
      <br/>
      <br/>
    {% endif %}
      <br/>
      <a href="{{ post.url }}">Weiterlesen...</a>
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">&larr; Neuer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">&larr; Neuer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">&larr; Neuer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Älter &rarr;</a>
  {% else %}
    <span class="pagination-item older">Älter &rarr;</span>
  {% endif %}
</div>