/*
* Sidebar
*/

.sidebar-hover {
    height: 100vh;
    margin-left: 0;
    width: 0;
    z-index: 2;
    position: fixed;
    transition: 700ms;
}

.sidebar {
    background-color: #f0f0f0;
}

.sidebar .sidebar-content {
    opacity: 100;
    transition: 700ms;
}

.sidebar-about h1 {
    font-size: 3rem;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.sidebar a,
.sidebar p {
    color: #404040;
}

.sidebar .shortlink {
    padding-left: 0.2em;
}

.sidebar .title {
    margin-left: -0.1em;
}

div.homesite.post {
    padding-bottom: 4em;
    margin-bottom: 5em;
    border-bottom: 1px solid #aaaaaa;
}

#darktheme-icon {
    display: block;
    background-image: url("../icons/darktheme.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    width: 2em;
    height: 2em;
    margin-left: 13em;
    position: absolute;
    bottom: 0;
    transition: 800ms;
}

#expand-icon {
    display: none;
}

/*
* Text style
*/

h1,
h2,
h3,
.post-title {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    color: #3a3a3a;
}

strong {
    color: #3a3a3a;
}

.sub,
.sub,
.sidebar .sub {
    color: #808080;
}

a.alt {
    color: #515151;
}

a.alt:hover {
    color: #268bd2;
}

.taglist {
    margin-bottom: 2em;
}

.tag {
    color: #404040;
    background-color: #d8d8d8;
    border-radius: 1em;
    padding-left: 1em;
    padding-top: 0.1em;
    padding-right: 1em;
    padding-bottom: 0.1em;
    margin-right: 0.1em;
    transition: 150ms;
}

.tag:hover {
    background-color: #cccccc;
    box-shadow: 0 0 25px #9a9a9a;
    text-decoration: none;
    transition: 150ms;
}

pre.highlight,
code {
    transition: 800ms;
}

/* post image */
.post-image {
    max-height: 10em;
    min-width: 100%;
    object-fit: cover;
    margin-bottom: 0;
}

/* Desktop only */
@media (min-width: 48em) {
    .post-image {
        min-width: 80%;
        object-fit: cover;
    }
}

/* Meta data line below post title */

.post-details {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

.post-details a {
    color: #9a9a9a;
}

.post-details a:hover {
    color: #268bd2;
    text-decoration: none;
}

/* Tag page */

.tags-container {
    padding-bottom: 3em;
}

/*
* Home page
*/

div.sidebar {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.post div.sidebar .lead,
.post div.sidebar .sidebar-nav {
    display: none;
}

.tags .shortlink {
    display: none;
}

div.outercontainer {
    background-color: #f0f0f0;
    margin-top: 24em;
    min-height: 100vh;
    transition: 800ms;
}

.post div.outercontainer {
    margin-top: 10em;
    transition: 800ms;
}

div.content.container {
    background-color: #ffffff;
    min-height: 90vh;
    padding-top: 0.675em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    box-shadow: 0 0 15px #cccccc;
}

div.content.container.legal {
    border-radius: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
}

/* Mobile only */
@media (max-width: 48em) {
    div.content.container.moveup {
        transform: translateY(-14em);
        transition: 150ms;
    }
    div.content.container.movedown {
        transform: translateY(14em);
        transition: 150ms;
    }
    .mobilefadeout {
        opacity: 0 !important;
        transition: 150ms !important;
    }
    .pulltab {
        height: 0.3em;
        width: 2.5em;
        background-color: #cccccc;
        border-radius: 10em;
        /* Using the padding from .content.container */
        margin-top: 0.225em;
        margin-bottom: 0.55em;
        margin-left: auto;
        margin-right: auto;
        transition: 300ms;
    }
    .dark .pulltab {
        background-color: #303030;
    }
    .pulltab:hover:not(:visited) {
        background-color: #9a9a9a;
        margin-top: 0;
        margin-bottom: 0.325em;
        height: 0.75em;
        width: 0.8em;
        transition: 300ms;
    }
}


a.pagination-item {
    border: 1px solid #aaaaaa;
}

a.pagination-item:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-left: 0em;
}

a.pagination-item:last-child {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

a.pagination-item.fullwidth {
    width: 100%;
}

ul.footer {
    display: none;
}

/*
 * Dark and blue themes
 */

 .dark .sidebar,
 .dark .outercontainer {
     background-color: #050505 !important;
 }

 .dark .sidebar *,
 .blue .sidebar *,
 .dark .post-title,
 .blue .post-title,
 .dark .post-title a,
 .blue .post-title a,
 .dark .page-title,
 .blue .page-title,
 .dark .related>h2,
 .blue .related>h2,
 .dark .authored-posts>h2,
 .blue .authored-posts>h2 {
     color: #d8d8d8;
     transition: 800ms;
 }

 .dark .sidebar *.sub,
 .blue .sidebar *.sub {
    color: #808080;
    transition: 800ms;
 }

 .dark .content.container {
     background-color: #080808 !important;
     box-shadow: 0 0 25px #000000 !important;
 }

 .dark .post-content *:not(a),
 .dark .author-content *:not(a),
 .dark .post-preview *:not(a),
 .blue .post-content *:not(a),
 .blue .author-content *:not(a),
 .blue .post-preview *:not(a) {
     color: #bbbbbb !important;
     transition: 800ms;
 }

 .dark img {
     opacity: 0.75;
 }

 .dark hr {
     border: 1px solid #404040;
 }

 .dark pre.highlight,
 .dark code {
     background-color: #202020;
     transition: 800ms;
 }

 .dark .tag {
    color: #d8d8d8;
    background-color: #404040;
 }

 .dark .tag:hover {
    box-shadow: 0 0 35px #000000;
    background-color: #202020;
    transition: 150ms;
 }

 .dark .author-details .avatar
 .blue .author-details .avatar {
    box-shadow: 0 0 50px #000000;
 }

 .dark ul.horizontal.social li a {
     background-color: #020202;
     box-shadow: 0 0 50px #000000;
 }
 .dark ul.horizontal.social li a:hover {
    background-color: #aaaaaa;
}

.dark.expanded div.outercontainer,
.dark.expanded div.sidebar {
    background-color: #080808;
}

.dark #darktheme-icon {
    background-image: url("../icons/darktheme-fill.svg");
}

.dark div.homesite.post {
    border-bottom: 1px solid #404040;
}

.dark .related {
    border-top: 1px solid #404040;
}

.dark blockquote {
    border-left: .25rem solid #606060;
}

.blue .sidebar,
.blue .outercontainer {
    background-color: #242943;
}

.blue .content.container {
    background-color: #242943;
    box-shadow: 0 0 25px #121522;
}

/* Mobile only: Lighter colors */
@media (max-width: 48em) {
    .dark .sidebar,
    .dark .outercontainer {
        background-color: #202020 !important;
    }
    .dark .content.container {
        background-color: #151515 !important;
    }
}


/*
 * Post page
 */

.more-posts li a:hover small {
    text-decoration: none;
}

li.notrelated a {
    color: #3b5998;
}

/*
 *  Author page
 */

.author-details {
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid #f0f0f0;
}

.author-details .avatar {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 100%;
    box-shadow: 0 0 25px #cccccc;
}

/* Hide footer. Below will show the footer on desktop. */
div.footer {
    display: none;
}

/* Desktop only */

@media (min-width: 48em) {
    /*
    * Home page
    */
    div.sidebar {
        z-index: 0;
        padding-top: 0;
        width: 18em;
        transition: 800ms;
    }
    .post div.sidebar .lead,
    .post div.sidebar .sidebar-nav {
        display: block;
    }
    .post .sidebar-nav {
        margin-bottom: -1em;
    }
    .post #expand-icon {
        display: block;
        background-image: url("../icons/arrow_left.svg");
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        width: 2em;
        height: 2em;
        margin-left: 15em;
        transition: 800ms;
    }
    div.outercontainer,
    .post div.outercontainer {
        margin-top: 0;
        padding-bottom: 2em;
        padding-top: 1em;
        overflow: hidden;
    }
    div.content.container {
        min-height: 0;
        max-width: none;
        padding-left: 4em;
        padding-top: 3.5em;
        padding-bottom: 1.5em;
        padding-right: 6em;
        margin-left: 19em;
        margin-right: 0;
        margin-bottom: 2em;
        border-top-left-radius: 1em;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 0;
        transition: 800ms;
    }
    div.content.container.legal {
        max-width: 56em;
    }
    div.posts,
    div.pagination {
        max-width: 38em;
    }
    .pulltab {
        display: none;
    }
    .expanded div.sidebar {
        margin-left: -18em;
        background-color: #ffffff;
        z-index: 1;
        transition: 700ms;
    }
    .expanded div.sidebar .sidebar-content {
        opacity: 0;
        z-index: 5;
        transition: 600ms;
        transition-delay: 100ms;
    }
    .expanded #expand-icon {
        margin-left: 17em;
        transform: scaleX(-1);
        transition: 600ms;
    }
    .expanded div.outercontainer {
        padding-top: 0;
        background-color: #ffffff;
        transition: 800ms;
    }
    .expanded div.content.container {
        margin-left: 0;
        padding-right: 4em;
        box-shadow: unset;
        transition: 700ms;
    }
    .expanded div.footer {
        margin-bottom: -10em;
        transition: 800ms;
    }
    
    /*
    * Footer
    */
    div.footer {
        margin-left: 23em;
        max-width: 38em;
        transition: 800ms;
    }
}

/*
 * Horizontal list
 */

 ul.horizontal {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    display: block;
}
ul.horizontal.center {
    text-align: center;
}
ul.horizontal li {
    display: inline;
}
ul.horizontal li>* {
    padding: 1em;
    display: inline-block;
    margin-bottom: 0;
}

/*
 * Social
 */

 ul.horizontal.social li a {
    margin-left: 0.2em;
    margin-top: 1em;
    margin-right: 0.2em;
    margin-bottom: 1em;
    height: 0.2em;
    width: 0.2em;
    /*border: 1px solid #808080;*/
    box-shadow: 0 0 25px #aaaaaa;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 300ms;
 }

 ul.horizontal.social li a:hover {
     background-color: #fcfcfc;
     box-shadow: 0 0 5px #aaaaaa;
     transition: 200ms;
 }

 .social .github {
     background-image: url(../icons/github.svg);
     background-size: 1.2em;
 }

 .social .twitter {
    background-image: url(../icons/twitter.svg);
    background-size: 1.2em;
}

.social .instagram {
    background-image: url(../icons/instagram.svg);
    background-size: 1.4em;
}

.social .linkedin {
    background-image: url(../icons/linkedin.svg);
    background-size: 1.3em;
}

.social .web {
    background-image: url(../icons/web.svg);
    background-size: 1.4em;
}

/*
 * Tools
 */

 .noanimation * {
     transition: none !important;
 }

.invisible {
    background: transparent !important;
}

.gone {
    display: none !important;
}

.center {
    text-align: center;
}

.narrow {
    max-width: 38em;
}


/*
 * Scroll animations
 */


[data-aos][data-aos][data-aos-duration="50"],
body[data-aos-duration="50"] [data-aos] {
    transition-duration: 50ms
}

[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
    transition-delay: 50ms
}

[data-aos][data-aos][data-aos-duration="300"],
body[data-aos-duration="300"] [data-aos] {
    transition-duration: .3s
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0)
}

[data-aos="fade-up"] {
    transform: translate(0, 4em);
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos="fade-up-small"] {
    transform: translate(0, 1em);
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos="fade-up-small"].aos-animate {
    transform: translate(0, 0);
    opacity: 1;
}

[data-aos="fade"] {
    opacity: 0;
}

[data-aos="fade"].aos-animate {
    opacity: 1;
}

@media (max-width: 48em) {
    [data-aos="fade-mobile"] {
        opacity: 0;
    }
    
    [data-aos="fade-mobile"].aos-animate {
        opacity: 1;
    }
}

.fadeout.active {
    opacity: 0 !important;
    transition: 150ms !important;
}

.fadeupsmall.active {
    transform: translate(0, 1.5em) !important;
    opacity: 0 !important;
    transition: 150ms !important;
}