/*
* Sidebar
*/

.sidebar {
    background-color: #f0f0f0;
}

.sidebar-about h1 {
    font-size: 3rem;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.sidebar a,
.sidebar p {
    color: #404040;
}

.sidebar .shortlink {
    padding-left: 0.2em;
}

.sidebar .title {
    margin-left: -0.1em;
}

div.homesite.post {
    padding-bottom: 4em;
    margin-bottom: 5em;
    border-bottom: 1px solid #808080;
}

/*
* Text style
*/

h1,
h2,
h3 {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
}

.sub,
.sub,
.sidebar .sub {
    color: #808080;
}

/* Meta data line below post title */

.post-details {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

/* Desktop only */

@media (min-width: 48em) {
    /*
    * Home page
    */
    div.outercontainer {
        background-color: #f0f0f0;
        min-height: 100vh;
        padding-bottom: 2em;
        padding-top: 1em;
    }
    div.content.container {
        background-color: #ffffff;
        max-width: none;
        padding-left: 4em;
        padding-top: 3.5em;
        padding-bottom: 1.5em;
        padding-right: 6em;
        margin-left: 19em;
        margin-right: 0;
        margin-bottom: 2em;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    }
    div.posts,
    div.pagination {
        max-width: 38em;
    }
    /*
    * Footer
    */
    div.footer {
        margin-left: 23em;
        max-width: 38em;
    }
    ul.footer {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        overflow: hidden;
    }
    ul.footer li {
        display: inline;
    }
    ul.footer li>a,
    ul.footer li>p {
        padding: 1em;
        display: inline-block;
    }
}