/*
* Sidebar
*/

.sidebar {
    background-color: #f0f0f0;
}

.sidebar-about h1 {
    font-size: 3rem;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.sidebar a,
.sidebar p {
    color: #404040;
}

.sidebar .shortlink {
    padding-left: 0.2em;
}

.sidebar .title {
    margin-left: -0.1em;
}

div.homesite.post {
    padding-bottom: 4em;
    margin-bottom: 5em;
    border-bottom: 1px solid #aaaaaa;
}

/*
* Text style
*/

h1,
h2,
h3,
.post-title {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    color: #3a3a3a;
}

strong {
    color: #3a3a3a;
}

.sub,
.sub,
.sidebar .sub {
    color: #808080;
}

/* Meta data line below post title */

.post-details {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

/*
* Home page
*/

div.sidebar {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

div.outercontainer {
    background-color: #f0f0f0;
    margin-top: 24em;
    min-height: 100vh;
}

div.content.container {
    background-color: #ffffff;
    padding-top: 1.5em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    box-shadow: 0 0 15px #cccccc;
}

a.pagination-item {
    border: 1px solid #aaaaaa;
}

a.pagination-item:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-left: 0em;
}

a.pagination-item:last-child {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

a.pagination-item.fullwidth {
    width: 100%;
}

ul.footer {
    display: none;
}

.pulltab {
    height: 0.3em;
    width: 2.5em;
    background-color: #9a9a9a;
    border-radius: 1em;
    /* Using the padding from .content.container */
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

/* Desktop only */

@media (min-width: 48em) {
    /*
    * Home page
    */
    div.sidebar {
        z-index: 0;
        width: 18em;
    }
    div.outercontainer {
        margin-top: 0;
        padding-bottom: 2em;
        padding-top: 1em;
    }
    div.content.container {
        max-width: none;
        padding-left: 4em;
        padding-top: 3.5em;
        padding-bottom: 1.5em;
        padding-right: 6em;
        margin-left: 19em;
        margin-right: 0;
        margin-bottom: 2em;
        border-top-left-radius: 1em;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 0;
    }
    div.posts,
    div.pagination {
        max-width: 38em;
    }
    .pulltab {
        display: none;
    }
    /*
    * Footer
    */
    div.footer {
        margin-left: 23em;
        max-width: 38em;
    }
    ul.footer {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        overflow: hidden;
        display: block;
    }
    ul.footer li {
        display: inline;
    }
    ul.footer li>a,
    ul.footer li>p {
        padding: 1em;
        display: inline-block;
        margin-bottom: 0;
    }
}