---
layout: compress
---

<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body class="{{ page.layout }}">

    {% include sidebar.html %}

    <div class="outercontainer">

        {{ content }}


        <div class="footer">
            {% include footer.html %}
        </div>
    </div>

    <noscript>
        <style>
            [data-aos="fade-up"] {
                transform: translate(0);
                opacity: 1;
            }
            [data-aos="fade-up-small"] {
                transform: translate(0);
                opacity: 1;
            }
            [data-aos="fade"],
            [data-aos="fade-mobile"] {
                opacity: 1;
            }
      </style>
    </noscript>

    <script type="text/javascript">
        /*Default design is dark, but can be changed by a stored cookie value*/
        cookie = decodeURIComponent(document.cookie);
        if (!cookie.includes("dark=false")) {
            document.body.classList.add("noanimation");
            document.body.classList.add("dark");
            setTimeout(() => {
                document.body.classList.remove("noanimation");
            }, 10);
        }

        /* The liquid if still works. It's a comment to not be shown as error */
        /*{% if page.name != "index.html" %}*/
        if (cookie.includes("expanded=true")) {
            /* Check if layout was expanded, add a delay if not */
            if (cookie.includes("lastexpanded=false")) {
                setTimeout(() => {
                    document.body.classList.add("expanded");
                }, 10);
            } else {
                document.body.classList.add("expanded");
            }
            if (!decodeURIComponent(document.cookie).includes("cookies=false")) {
                var d = new Date();
                d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = "lastexpanded=true;" + expires + ";path=/";
            }
        }

        /* {% else %} */
        if (!decodeURIComponent(document.cookie).includes("cookies=false")) {
            var d = new Date();
            d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = "lastexpanded=false;" + expires + ";path=/";
        }
        /*{% endif %}*/


        window.addEventListener("load", () => {
            var jquery = document.createElement("script");
            jquery.src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js";
            document.body.appendChild(jquery);

            jquery.addEventListener("load", () => {
                var mainjs = document.createElement("script");
                mainjs.src = "/public/js/main.js";
                document.body.appendChild(mainjs);
            });

            var aos = document.createElement("script");
            aos.src = "https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.4/aos.js";
            document.body.appendChild(aos);

            aos.addEventListener("load", () => {
                AOS.init({
                    duration: 300,
                    once: true,
                });
            });
        }, false);
    </script>

</body>

</html>