---
layout: compress
---

<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body class="{{ page.layout }}">

    <div id="newsletter">
        <div id="newsletterinner">
            <div id="newslettercontent">
                <h1>Melde dich für unseren Newsletter an</h1>
                <p><b>Werde über wichtige Neuerungen im CoderDojo Wiesbaden informiert</b></p>
                <form id="newsletterForm"
                    action="https://coderdojo-wiesbaden.us12.list-manage.com/subscribe/post?u=207260bf1f69b2e1726f48abc&amp;id=44a009d9dd"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" style="margin-top: 1em;" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <input type="text" value="" placeholder="Dein Name" name="FNAME" class="" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <input type="email" value="" placeholder="Deine E-Mail-Adresse" name="EMAIL"
                                class="required email" id="mce-EMAIL" required>
                        </div>
                        <p style="margin-top: 0.2em; color: #808080;">Keine Sorge, wir senden dir keinen Spam</p>

                        <h5 style="margin-top: 2.5em;">Worüber möchtest du benachrichtigt werden?</h5>
                        <div id="newsletterChooser" class="twobuttongroup">
                            <div id="selectAllNewsletter" onclick="chooseNewsletter('all')">Alles</div>
                            <div id="selectImportantNewsletter" onclick="chooseNewsletter('important')" class="active">
                                Nur wichtiges</div>
                        </div>
                        <p id="newsletterTypeDescription" style="color: #808080;">Du wirst nur
                            Mitteilungen erhalten, die die Organisation des CoderDojos betreffen</p>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_207260bf1f69b2e1726f48abc_44a009d9dd" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Für den Newsletter anmelden" name="subscribe"
                                id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
                <a onclick="toggleNewsletterSignup()" class="noanim" style="margin-top: 1em; font-size: 1em; color: #808080; cursor: pointer;">Abbrechen</a>
            </div>
        </div>
    </div>

    {% if page.name == "index.html" %}
    <div id="notifications">

            <p id="expandNotificationsMobile">Nachrichten zeigen</p>
            <div id="notificationsExpandableMobile">
          
              <div id="noDojoNotification" class="notification noanimMobile" data-aos="fade-up" data-aos-delay="50"
                onclick="toggleNewsletterSignup()">
                <h3>Aktuell finden keine Dojos statt</h3>
                <p>Melde dich für unseren Newsletter an<br /> und werde benachrichtigt, wenn es weitergeht</p>
                <p class="button">Benachrichtigt werden</p>
              </div>
          
              <div id="newsletterSignupNotification" class="notification noanimMobile" data-aos="fade-up" data-aos-delay="75"
                onclick="toggleNewsletterSignup()">
                <h3>Unser Newsletter</h3>
                <p>Werde benachrichtigt, wenn es Neuigkeiten gibt</p>
                <p class="button">Jetzt anmelden</p>
              </div>
          
              <div id="cookiesNotification" class="notification nohover hidden" data-aos="fade-up" data-aos-delay="100">
                <h3>Wir verwenden Cookies</h3>
                <div class="actions" style="margin-top: 1em;">
                  <p class="button" style="display: inline-block" onclick="seenCookies()">Okay</p>
                  <a href="/rechtliches" class="button" style="display: inline-block; margin-left: 0.4em;">Erfahre mehr</a>
                </div>
              </div>
          
            </div>
          </div>
    {% endif %}

    {% include sidebar.html %}

    <div class="outercontainer">

        {{ content }}


        <div class="footer">
            {% include footer.html %}
        </div>
    </div>

    <noscript>
        <style>
            [data-aos="fade-up"] {
                transform: translate(0);
                opacity: 1;
            }

            [data-aos="fade-up-small"] {
                transform: translate(0);
                opacity: 1;
            }

            [data-aos="fade"],
            [data-aos="fade-mobile"] {
                opacity: 1;
            }
        </style>
    </noscript>

    <script type="text/javascript">
        /*Default design is dark, but can be changed by a stored cookie value*/
        cookie = decodeURIComponent(document.cookie);
        if (!cookie.includes("dark=false")) {
            document.body.classList.add("noanimation");
            document.body.classList.add("dark");
            setTimeout(() => {
                document.body.classList.remove("noanimation");
            }, 10);
        }

        /* The liquid if still works. It's a comment to not be shown as error */
        /*{% if page.name != "index.html" %}*/
        if (cookie.includes("expanded=true")) {
            /* Check if layout was expanded, add a delay if not */
            if (cookie.includes("lastexpanded=false")) {
                setTimeout(() => {
                    document.body.classList.add("expanded");
                }, 10);
            } else {
                document.body.classList.add("expanded");
            }
            if (!decodeURIComponent(document.cookie).includes("cookies=false")) {
                var d = new Date();
                d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = "lastexpanded=true;" + expires + ";path=/";
            }
        }

        /* {% else %} */
        if (!decodeURIComponent(document.cookie).includes("cookies=false")) {
            var d = new Date();
            d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = "lastexpanded=false;" + expires + ";path=/";
        }
        /*{% endif %}*/


        window.addEventListener("load", () => {
            var jquery = document.createElement("script");
            jquery.src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js";
            document.body.appendChild(jquery);

            jquery.addEventListener("load", () => {
                var mainjs = document.createElement("script");
                mainjs.src = "/public/js/main.js";
                document.body.appendChild(mainjs);
            });

            var aos = document.createElement("script");
            aos.src = "https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.4/aos.js";
            document.body.appendChild(aos);

            aos.addEventListener("load", () => {
                AOS.init({
                    duration: 300,
                    once: true,
                });
            });
        }, false);
    </script>

    <!-- MailChimp -->
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function ($) {
            window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'TEXTYUI_3'; ftypes[3] = 'text'; fnames[4] = 'TEXT1'; ftypes[4] = 'text'; fnames[5] = 'TEXTAREAY'; ftypes[5] = 'text'; fnames[6] = 'TEXT3'; ftypes[6] = 'text'; fnames[7] = 'SELECTYUI'; ftypes[7] = 'text'; fnames[8] = 'CHECKBOXY'; ftypes[8] = 'text'; /*
    * Translated default messages for the $ validation plugin.
    * Locale: DE
    */
            $.extend($.validator.messages, {
                required: "Dieses Feld ist ein Pflichtfeld.",
                maxlength: $.validator.format("Geben Sie bitte maximal {0} Zeichen ein."),
                minlength: $.validator.format("Geben Sie bitte mindestens {0} Zeichen ein."),
                rangelength: $.validator.format("Geben Sie bitte mindestens {0} und maximal {1} Zeichen ein."),
                email: "Geben Sie bitte eine gültige E-Mail Adresse ein.",
                url: "Geben Sie bitte eine gültige URL ein.",
                date: "Bitte geben Sie ein gültiges Datum ein.",
                number: "Geben Sie bitte eine Nummer ein.",
                digits: "Geben Sie bitte nur Ziffern ein.",
                equalTo: "Bitte denselben Wert wiederholen.",
                range: $.validator.format("Geben Sie bitten einen Wert zwischen {0} und {1}."),
                max: $.validator.format("Geben Sie bitte einen Wert kleiner oder gleich {0} ein."),
                min: $.validator.format("Geben Sie bitte einen Wert größer oder gleich {0} ein."),
                creditcard: "Geben Sie bitte ein gültige Kreditkarten-Nummer ein."
            });
        }(jQuery)); var $mcj = jQuery.noConflict(true);</script>

</body>

</html>